---
title: "Team"
layout: default
excerpt: "Group Members"
sitemap: false
permalink: /team/
---

<h1>{{page.title}}</h1>

<!-- PI -->
<h2><a id="pi"></a>Principal Investigator</h2>
{% assign members = site.posts | where: 'category', 'pi' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            {% if member.hover != nil %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            onmouseover="this.src='{{ site.url }}{{ site.baseurl }}/images/hover/{{ member.hover }}'"
            onmouseout="this.src='{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}'"
            class="card-img img-responsive img-thumbnail">
            {% else %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            class="card-img img-responsive img-thumbnail">
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.name }}</h4>
	    <p class="card-title">{{ member.role }}</p>
            <p class="card-text" style="margin-bottom: 0;">Office: {{ member.office }}</p>
            <p class="card-text">Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Post Docs -->
<h2><a id="postdoc"></a>Post Docs</h2>
{% assign members = site.posts | where: 'category', 'postdoc' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            {% if member.hover != nil %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            onmouseover="this.src='{{ site.url }}{{ site.baseurl }}/images/hover/{{ member.hover }}'"
            onmouseout="this.src='{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}'"
            class="card-img img-responsive img-thumbnail">
            {% else %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            class="card-img img-responsive img-thumbnail">
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.name }}</h4>
            <p class="card-text" style="margin-bottom: 0;">Office: {{ member.office }}</p>
            <p class="card-text">Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            {% for fellowship in member.fellowship -%}
            <p class="card-text" style="margin:0">- {{ fellowship }}</p>
            {% endfor %}
            {% for edu in member.education -%}
            <p class="card-text" style="margin:0">- {{ edu }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Graduate Students -->
<h2><a id="grad"></a>Graduate Students</h2>
{% assign members = site.posts | where: 'category', 'grad' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            {% if member.hover != nil %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            onmouseover="this.src='{{ site.url }}{{ site.baseurl }}/images/hover/{{ member.hover }}'"
            onmouseout="this.src='{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}'"
            class="card-img img-responsive img-thumbnail">
            {% else %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            class="card-img img-responsive img-thumbnail">
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.name }}</h4>
            <p class="card-text" style="margin-bottom: 0;">Office: {{ member.office }}</p>
            <p class="card-text">Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            {% for fellowship in member.fellowship -%}
            <p class="card-text" style="margin:0">- {{ fellowship }}</p>
            {% endfor %}
            {% for edu in member.education -%}
            <p class="card-text" style="margin:0">- {{ edu }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Undergraduate Students -->
<h2><a id="ugrad"></a>Undergraduate Students</h2>
{% assign members = site.posts | where: 'category', 'ugrad' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            {% if member.hover != nil %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            onmouseover="this.src='{{ site.url }}{{ site.baseurl }}/images/hover/{{ member.hover }}'"
            onmouseout="this.src='{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}'"
            class="card-img img-responsive img-thumbnail">
            {% else %}
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
            class="card-img img-responsive img-thumbnail">
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.name }}</h4>
            <p class="card-text" style="margin-bottom: 0;">Office: {{ member.office }}</p>
            <p class="card-text">Email: <a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            {% for fellowship in member.fellowship -%}
            <p class="card-text" style="margin:0">- {{ fellowship }}</p>
            {% endfor %}
            {% for edu in member.education -%}
            <p class="card-text" style="margin:0">- {{ edu }}</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Alumni -->
<h2><a id="alumni"></a>Alumni</h2>
{% assign alumni = site.posts | where: 'category', 'alumni' %}
{% for page in alumni %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-10">{{ page.content }}</div>
        </div>
    </div>
</div>
{% endfor %}
