---
layout: member
category: grad # pi, postdoc, grad, ugrad, alumni
title: Tim Beaver # preferred name
image: troy.png # upload image to images/team/
office: 6-222
email: timbeaver@mit.edu
fellowship:
  - MIT Beaver Fellow
  - Beaver Association Fellow
education:
  - PhD, Beaver Economics, MIT, 1918
  - Sc.B., Beaver Economics, MIT, 1917
---

