---
layout: member
category: staff # pi, postdocs, grad, ugrad, alumni
title: Troy Van Voorhis # preferred name
image: troy.png # upload image to images/team/
role: Principal Investigator # Principal Investigator, Post Doc, Graduate Student, Undergraduate Student, Alumni
permalink: 'team/troy' # team/[first_name]; append first letter of the last name if conflicts occur
social:
    twitter: https://twitter.com/
    linkedin: https://www.linkedin.com/
    google-scholar: https://scholar.google.fr/
    github: https://github.com/
    website:
    orcid: https://orcid.org/
    research-gate: https://www.researchgate.net/
misc:
 - These will show up on the member list
---

Following will show up on your page.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
